<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let message of messages | async">
      {{ message.text }} - {{ message.timestamp | date: 'HH:mm' }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje..."></ion-input>
    <ion-button expand="full" (click)="sendMessage()">Enviar</ion-button>
  </ion-toolbar>
</ion-footer>